.grid-cls{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    margin: 20px 0px;
}

input{
    all: unset;
    border: 1px solid;
    border-radius: 5px;
    background-color: #fff;
    width: 40px;
    padding-left:10%;
}

@media (max-width: 900px){
    .grid-cls{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 600px){
    .grid-cls{
        grid-template-columns: 1fr;
    }
}